@charset "UTF-8";
/* CSS Document */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
   
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;   /* ambos são valores padrão */
    height: 100vh;
   
} 
p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}
header, section.normal {
    padding: 20px;
}
section.flex-content {
    padding: 20px;
    background-color: rgb(156, 156, 156);
}