@charset "UTF-8" ;

header {
    background-color: black;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    margin: -9px; 
    margin-bottom: 50px;

}
header h1 {
    color: white;
    font-size: 5em;
    margin-bottom: 5px;


}
header p {
    color: white ;
    text-align: center;
    font-size: 1em;
   padding-bottom: 70px;
 font-weight: lighter;
  margin-top: 5px;
}
header a {
 color: white;
 text-decoration: none;

}